
@media screen and (max-width: 1025px) {

}

#mob-nav {

    display: none;
    background: darkslategray;
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
    padding-top: 20px;
}

#mob-nav>ul {
    list-style: none;
    margin: 0;
}

#mob-nav>ul>a>li {
    margin-bottom: 20px;
}


#header>.nav-icon {
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

@media all and (max-width: 412px) {
    /*#mob-nav {*/
    /*    display: block;*/
    /*}*/
    #web-nav {
        display: none;
    }

    #header > .nav-icon {
        display: block;
    }

    #header > #nav-icon-close {
        display: none;
    }

}

@media all and (max-width: 768px){
    header {
        width: 100vw;
        height: 12vw;
        background: #083F3D;
        position: fixed;
        display: flex;
        z-index: 999;
        top: 0;
        left: 0;
    }

    header > img {
        position: relative;
        width: 10vw;
        height: 10vh;
        top: 6px;
        left: 25px;
    }

    #web-nav>a {
        top: 30px;
        left: 49px;
        position: relative;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        font-weight: 550;
        margin-left: 30px;
    }

    #home {
        position: relative;
        height: 100vh;
    }

    #home>div:first-child>img {
        position: absolute;
        width: 300px;
        height: 584px;
        top: 43px;
        left: 75px;
    }

    #home>div:nth-child(2) {
        position: absolute;
        left: 2vw;
        top: 33vw;
        font-size: 1.5em;
    }

    #hireme {
        position: absolute;
        top: 36vw;
        width: 168px;
        height: 50px;
        font-size: 1.1em;
        background: #083F3D;
        color: white;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        cursor: pointer;
    }

    #home>div:nth-child(3) {
        position: absolute;
        top: 80vw;
        left: 4vw;
    }

    #home>div:nth-child(3)>a>img {
        margin-right: 2vw;
        width: 40px;
        height: 60px;
    }

    #about {
        position: relative;
        height: 140vh;
    }

    #about>div>h1 {
        width: fit-content;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 105px;
        margin: auto;
        color: #1F0B40;
        font-weight: bold;
        font-size: 2.5em;
    }

    #about>div>p {
        top: 155px;
        left: 25px;
        position: absolute;
        font-size: 1em;
        margin: 5px;
    }

    #about>div>img {
        top: 265px;
        left: 260px;
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 100%;
    }

    #about>div>#arrowPic {
        top: 590px;
        left: 140px;
        position: absolute;
        width: 450px;
        height: 200px;
        border-radius: 0;
        transform: rotate(90deg);
    }

    .typing>h4 {
        top: 300px;
        left: 486px;
        position: absolute;
        color: #1F0B40;
        font-size: 1.3em;
        font-family: Arial;
    }


    .typing>h5 {
        top: 330px;
        left: 486px;
        position: absolute;
        color: white;
        -webkit-text-stroke: 1px #1F0B40;
        font-size: 1.3em;
        font-family: Arial;
    }

    #about>div>a {
        top: 582px;
        left: 470px;
        position: absolute;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial;
    }

    #about>div>#educationPic {
        top: 565px;
        left: 560px;
        position: absolute;
        width: 50px;
        height: 50px;
    }


    #about>div>#skillPic {
        top: 695px;
        left: 145px;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    #about>div>#skillA {
        top: 704px;
        left: 205px;
        position: absolute;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial;
    }

    #about>div>#experiencePic {
        top: 963px;
        left: 340px;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    #about>div>#experienceA {
        top: 920px;
        left: 330px;
        position: absolute;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial;
    }

    #educationSec {
        position: relative;
        height: 200vh;
    }

    #educationSec>div>h4 {
        top: 100px;
        left: 10px;
        position: absolute;
        color: #1F0B40;
        font-size: 20px;
        font-family: Arial;
    }

    #educationSec>div>#arrow {
        top: 750px;
        left: -270px;
        width: 1300px;
        height: 100px;
        position: absolute;
        transform: rotate(270deg);
    }

    #ijse {
        top: 220px;
        left: 190px;
        position: absolute;
    }

    #educationSec>div>#yearfive {
        top: 223px;
        left: 300px;
        transform: rotate(-90deg);
        position: absolute;
        color: black;
        font-size: 16px;
    }

    #educationSec>div>#yearten {
        top: 220px;
        left: 420px;
        color: black;
        font-size: 16px;
        position: absolute;
        transform: rotate(270deg);
    }

    #ijsePanadura {
        top: 155px;
        left: 470px;
        position: absolute;
        padding: 10px;
    }

    #japura {
        top: 490px;
        left: 140px;
        position: absolute;
        width: 150px;
        height: 110px;
    }


    #educationSec>div>#yearfour {
        top: 495px;
        left: 300px;
        transform: rotate(270deg);
        position: absolute;
        color: black;
        font-size: 16px;
    }

    #japuraUni {
        top: 430px;
        left: 470px;
        position: absolute;
        padding: 10px;
    }

    #aquinasCollege {
        top: 970px;
        left: 470px;
        position: absolute;
        padding: 10px;
    }

    #schoolAbout {
        top: 770px;
        left: 120px;
        position: absolute;
        padding: 10px;
    }

    #educationSec>div>#yearnine {
        top: 495px;
        left: 430px;
        transform: rotate(-90deg);
        color: black;
        font-size: 16px;
        position: absolute;
    }

    #educationSec>div>#yeartwo {
        top: 750px;
        left: 300px;
        transform: rotate(-90deg);
        position: absolute;
        color: black;
        font-size: 16px;
    }


    #educationSec>div>#yeareight {
        top: 753px;
        left: 430px;
        transform: rotate(270deg);
        color: black;
        font-size: 16px;
        position: absolute;
    }

    #wijeya {
        top: 730px;
        left: 170px;
        position: absolute;
        width: 150px;
        height: 110px;
    }

    #wijeyagraphic {
        top: 700px;
        left: 470px;
        position: absolute;
        padding: 10px;
    }

    #educationSec>div>#yearthree {
        top: 1017px;
        left: 300px;
        transform: rotate(270deg);
        position: absolute;
        color: black;
        font-size: 16px;
    }

    #aquinas {
        top: 1015px;
        left: 140px;
        position: absolute;
        width: 150px;
        height: 110px;
    }

    #educationSec>div>#yearseven {
        top: 1016px;
        left: 430px;
        transform: rotate(270deg);
        color: black;
        font-size: 16px;
        position: absolute;
    }

    #isipathana {
        top: 1290px;
        left: 130px;
        position: absolute;
        width: 150px;
        height: 110px;
    }

    #educationSec>div>#yearone {
        top: 1295px;
        left: 300px;
        transform: rotate(270deg);
        position: absolute;
        color: black;
        font-size: 16px;
    }

    #schoolAbout {
        top: 1249px;
        left: 470px;
        position: absolute;
        padding: 10px;
    }

    #educationSec>div>#yearsix {
        top: 1295px;
        left: 430px;
        transform: rotate(270deg);
        color: black;
        font-size: 16px;
        position: absolute;
    }

    #skillsec>div>#skillone {
        top: 150px;
        left: 50px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skilltwo {
        top: 150px;
        left: 150px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillthree{
        top: 150px;
        left: 250px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillfoure{
        top: 150px;
        left: 350px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillfive{
        top: 150px;
        left: 450px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillsix{
        top: 150px;
        left: 550px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillseven{
        top: 150px;
        left: 650px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skilleight{
        top: 250px;
        left: 50px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillnine{
        top: 250px;
        left: 150px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillten{
        top: 250px;
        left: 250px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skilleleven{
        top: 250px;
        left: 350px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skilltowell{
        top: 250px;
        left: 450px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillthirty{
        top: 250px;
        left: 550px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #skillsec>div>#skillfourty{
        top: 250px;
        left: 650px;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    #sarvodaya {
        top: 500px;
        left: 130px;
        width: 100px;
        height: 100px;
        position: absolute;
    }

    #skillsec>div>#workArrow {
        top: 520px;
        left: 140px;
        width: 335px;
        transform: rotate(90deg);
        position: absolute;
    }

    #skillsec>div>#date {
        top: 500px;
        left: 240px;
        font-size: 16px;
        color: black;
        transform: rotate(270deg);
        position: absolute;
    }

    #skillsec>div>#dateTwo {
        top: 500px;
        left: 340px;
        font-size: 16px;
        color: black;
        position: absolute;
        transform: rotate(270deg);
    }

    #skillsec>div>#work {
        width: 150px;
        height: 170px;
        top: 470px;
        left: 400px;
        position: absolute;
        padding: 7px;
        font-size: 13px;
    }

    #serviceSec {
        position: relative;
        height: 130vh;
    }

    .wrapper {
        position: relative;
        top: 360px;
        width: 100%;
        height: 50%;
        padding: 0px;
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 35px;
        flex-wrap: wrap;
    }

    #service {
        width: fit-content;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 100px;
        margin: auto;
        color: #1F0B40;
        font-weight: bold;
        font-size: 35px;
    }

    #heading {
        top: 145px;
        left: 0px;
        position: absolute;
        font-size: 1em;
    }

    #workSec>div>img {
        top: 235px;
        left: 345px;
        position: absolute;
    }

    #workSec>div>p {
        top: 140px;
        left: 0px;
        position: absolute;
        font-size: 1em;
    }

    #complete {
        top: 250px;
        left: 300px;
        position: absolute;
        font-size: 1em;
    }

    #number {
        top: 270px;
        left: 360px;
        position: absolute;
        font-size: 1em;
    }

    .assignPic {
        width: 200px;
        height: 120px;
    }

    #gallery>div>hr {
        width: 100%;
        top: 220px;
        position: absolute;
        text-align: left;
        margin-left: 0;
    }

    .gallery {
        left: 56px;
        right: -34px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 0.9fr);
        grid-gap: 0rem;
    }

    #gallery>div>p {
        top: 145px;
        left: 50px;
        position: absolute;
        font-size: 1em;
    }

    #address {
        top: 130px;
        left: 100px;
        position: absolute;
    }

    #location {
        top: 140px;
        left: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
    }

    #gmail {
        top: 170px;
        left: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
    }

    #emailText {
        top: 160px;
        left: 100px;
        position: absolute;
    }

    #phone {
        top: 200px;
        left: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
    }

    #phoneNumber {
        top: 190px;
        left: 100px;
        position: absolute;
    }

    #contact>div>hr {
        width: 100%;
        top: 225px;
        position: absolute;
        text-align: left;
        margin-left: 0;
    }

    #emailInput {
        position: absolute;
        left: 60px;
        width: 250px;
        height: 30px;
    }

    .mapouter {
        position: relative;
        text-align: right;
        width: 350px;
        height: 450px;
    }

    .mapouter {
        position: absolute;
        top: 260px;
        left: 390px;
    }

    .mapouter{
        position:relative;text-align:right;width:350px;height:450px;
    }.gmap_canvas {
         overflow:hidden;background:none!important;width:350px;height:450px;
     }
    .gmap_iframe {
        width:350px!important;height:450px!important;
    }

    #emailName {
        position: absolute;
        left: -30px;
        width: 50px;
    }

    #nameLable {
        position: absolute;
        top: 50px;
        left: -30px;
        width: 50px;
    }

    #nameInput {
        position: absolute;
        top: 50px;
        left: 60px;
        width: 250px;
        height: 30px;
    }

    #subjectLable {
        position: absolute;
        top: 100px;
        left: -30px;
    }

    #subjectInput {
        position: absolute;
        top: 100px;
        left: 60px;
        width: 250px;
        height: 30px;
    }

    #messageLable {
        position: absolute;
        top: 150px;
        left: -30px;
    }

    #message {
        position: absolute;
        top: 150px;
        left: 60px;
        width: 250px;
    }

    #btnSend {
        position: absolute;
        background: #083F3D;
        color: #ffffff;
        top: 390px;
        left: 200px;
        width: 100px;
        height: 30px;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        cursor: pointer;
    }

    footer {
        width: 100vw;
        height: 7vw;
        background: #083F3D;
        display: flex;
        z-index: 999;
        bottom: 0;
        left: 0;
    }

    footer>p {
        position: absolute;
        left: 195px;
    }
}